<launch>
 <arg name='words'                        default="请" />
 <arg name='SpeakerSubTopic'              default="stop_flag" />
 <arg name="ResponseSensitivity"          default="1.8"/> 
 <arg name="WorkSpaces"                   default="howe"/>  
  
 <include file="$(find baidu_speech)/launch/simple_speaker.launch" />
  <param name="ResponseSensitivity"       value="$(arg ResponseSensitivity)" />
  <param name="WorkSpaces"                value="$(arg WorkSpaces)" />
    
 <node pkg="baidu_speech" type="node_main.py" name="warning2speaker" output="screen">
  <param name='words'                     value="$(arg words)"  type="str" />
  <param name='SpeakerSubTopic'           value="$(arg SpeakerSubTopic)"  type="str" />
 </node>
</launch>
